extends ../base/layout

include ../components/article
include ../components/main-country-details
include ../components/link-details
include ../components/hotel-preview
include ../components/button
include ../components/link-back

block data
  include ../data/article-content
  include ../data/main-country-details
  include ../data/inner-hotels

block variables
  - var title = "Соединяем Корею и Японию в одном туре"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = "inner"
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    .page-content
      +link-back("Назад", "")
      .container
        h1 Соединяем Корею и Японию в одном туре
        +article(blogPage)
        section.inner-details.countries-details
          h2 Вас может заинтересовать
          ul
            each item in mainCountryDetails
              li
                +main-country-details("inner-details", item)
        section.hotels.inner-hotels.inner-hotels--blog
          ul.hotels__wrapper
            li.hotels__item
              +hotel-preview("inner-hotels", lotteHotelSeul)
            li.hotels__item
              +hotel-preview("inner-hotels", hotelOkuraCobe)
          +button("inner-hotels", "Показать ещё")
