extends ../base/layout

block variables
  - var title = "Соединяем Корею и Японию в одном туре"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    .container
      .content-wrapper
        section.blog
          .blog__image
            picture
              img(src="img/content/blog@1x.jpg", srcset="img/content/blog@2x.jpg 2x" width="1090" height="490" alt="Фото японского пейзажа")
          .blog__author
            .blog__author-image
              picture
              img(src="img/content/blog-userpick@1x.png", srcset="img/content/blog-userpick@2x.png 2x" width="202" height="202" alt="Фото представителя туроператора")
            span.blog__author-name Диана Афанасьева
            span.blog__author-specialty Представитель туроператора
          .blog__content
            h2 Удивительное путешествие
            p Япония — самая уникальная представительница экзотической Азии. Страна — загадка, органично сочетающая высокие технологии с древними традициями, где обычаи действуют наравне с законом. Она многогранна как бриллиант. Поэтическое название — Страна восходящего солнца.
            p Это островное государство, основная территория которого расположена на четырех крупных островах: Хонсю, Сикоку, Хоккайдо, Кюсю. Остальные из 6852 островов большинство обжитые, но встречаются и необитаемые.
            p Своеобразен рельеф страны. Две трети территории страны занимают горы и холмы. И только на побережьях встречаются равнины. Крупнейшая низменность — Канто, составляющая 2.2% территории страны, но именно здесь проживает почти 60% всего населения Японии.
            p Здесь же располагается и столица страны. Токио и его окрестности — самая развитая и густонаселенная часть территории, в которой проживает 30 миллионов жителей. Япония один из наиболее популярных туристических направлений в мире.
            p Япония — самая уникальная представительница экзотической Азии. Страна — загадка, органично сочетающая высокие технологии с древними традициями, где обычаи действуют наравне с законом. Она многогранна как бриллиант. Поэтическое название — Страна восходящего солнца.
            p Это островное государство, основная территория которого расположена на четырех крупных островах: Хонсю, Сикоку, Хоккайдо, Кюсю. Остальные из 6852 островов большинство обжитые, но встречаются и необитаемые.
            p Своеобразен рельеф страны. Две трети территории страны занимают горы и холмы. И только на побережьях встречаются равнины. Крупнейшая низменность — Канто, составляющая 2.2% территории страны, но именно здесь проживает почти 60% всего населения Японии.
            p Здесь же располагается и столица страны. Токио и его окрестности — самая развитая и густонаселенная часть территории, в которой проживает 30 миллионов жителей. Япония один из наиболее популярных туристических направлений в мире.

