extends ../base/layout

include ../components/article

block data
  include ../data/article-content

block variables
  - var title = "Особенности гостеприимства в Японии"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    .container
      +article(japanDetails)
