extends ../base/layout

include ../components/article
include ../components/link-details
include ../components/hotel-preview
include ../components/button
include ../components/link-back

block data
  include ../data/article-content
  include ../data/inner-hotels

block variables
  - var title = "Особенности гостеприимства в Корее"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = "inner"
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    .page-content
      +link-back("Назад", "")
      .container
          h1 Особенности гостеприимства в Корее
          +article(koreaDetails)
          section.hotels.inner-hotels
            h2 Вас может заинтересовать
            ul.hotels__wrapper
              li.hotels__item
                +hotel-preview("inner-hotels", signielSeoul)
              li.hotels__item
                +hotel-preview("inner-hotels", continentalSeoul)
            +button("inner-hotels", "Показать ещё")

