extends ../base/layout

block variables
  - var title = "Особенности гостеприимства в Корее"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = ""

block main
  main
    .container
      .content-wrapper
        section.culture.culture--korea
          .culture__text
            h2 Культурные особенности и&nbsp;неочевидные факты
            p Страна утренней свежести уже давно и прочно вошла в пятерку самых популярных мест отдыха среди жителей нашего Дальнего Востока. Что ни неделя, то набитые российскими туристами чартеры спешат из Приморского края на первоклассные пляжные и горнолыжные курорты Южной Кореи с периодическим залетом в Сеул. Вся остальная Россия завистливо выдыхает, ведь для них это такая же недешевая экзотика, как и Япония, Австралия или Филиппины. Однако выбирая себе отдых из подобных стран, стоит 10 раз подумать о Корее.
            p Тонированный 24-каратным золотом небоскреб, двухголовая черепаха, бои пьяных быков, 50 сортов мандаринов, старухи-ныряльщицы за жемчугом, унитазы с пультами управления, вездесущие Wi-Fi и квашеная капуста... Нет, это не список желаний сумасшедшего, а обыденная реальность этой небольшой, но удивительно живописной и разноплановой страны. Но не стоит пугаться: наступивший для них 22 век вовсе не означает, что в Южной Корее будет нечего делать туристам, привыкшим к более консервативным развлечениям. Их ждут роскошные пляжи острова Чеджу, отлично оборудованные склоны Южнокорейских Альп, старинные монастыри и пагоды.
          .culture__image
            picture
              img(src="img/content/korea-detailsCulture@1x.jpg", srcset="img/content/korea-detailsCulture@2x.jpg 2x" width="1090" height="490" alt="Фото корейского пейзажа")

        section.shopping.shopping--korea
          h2 Шоппинг
          .shopping__image
            picture
              img(src="img/content/korea-detailsShopping@1x.jpg", srcset="img/content/korea-detailsShopping@1x.jpg 2x" width="868" height="350" alt="Фото магазина сувениров в Корее")
          p Традиционные сувениры: вышивка, фарфор, текстиль и макраме, бижутерия, картины, маски, изделия из дерева и раковин, куклы в традиционных костюмах, веера. В стране продают очень красивые лаковые изделия, инкрустированные перламутром (шкатулки, табакерки и прочее). Корея — единственная страна в мире, где вытаскиванием со дна моря раковин и других ценных вещей на свет божий испокон веков занимаются женщины. «Хэне», или «женщины моря» — коренастые и плечистые поморки, ежедневно в любую погоду опускающиеся на дно морское безо всяких там аквалангов. Как нетрудно догадаться, в семьях этих дам царит абсолютный матриархат: у хрупких корейских мужчин нет никаких шансов выдержать психологический прессинг со стороны своих могучих благоверных-пловчих.

        section.cuisine.cuisine--korea
          h2 Кухня и рестораны в Южной Корее
          .cuisine__image
            picture
              img(src="img/content/korea-detailsCuisine@1x.jpg", srcset="img/content/korea-detailsCuisine@1x.jpg 2x" width="868" height="350" alt="Фото ресторана в Корее")
          p В Корее представлены сразу 4 национальные кухни: собственно корейская, китайская, японская и европейская. Во всех населенных пунктах страны — множество ресторанов, столовых и закусочных самого разного профиля. Японские рестораны — самые дорогие и престижные. Китайские — попроще, блюда там делятся на две категории: «сикса» и «ери». «Сикса» — сравнительно дешевые (3000-6000 KRW) и несложные в приготовлении, «ери» — заметно более дорогие (10 000 - 40 000 KRW), сложносочиненные, готовящиеся только большими порциями — хватит, как минимум, на двоих.
          p Европейский ресторан в Корее — место, куда идет человек среднего достатка, когда ему хочется поесть чего-нибудь необычного. Меню в большинстве таких едален не отличается разнообразием: основное и зачастую единственное блюдо — «тонкасы», род шницеля, запеченного в тонком слое теста.
          p В Корее едят много риса: из него делают хлебцы «чхальток», кашу «паби», острый плов с овощами «пибимпап», рулеты «кимпап» и прочие вкусности. Гарниром к ним чаще всего служат «кимчхи» — всевозможные квашеные, соленые и маринованные, остро приправленные овощи. Популярнейшие супы — соевый «сундубу-чиге» с моллюсками и яйцом, острый «хемультхан» с морепродуктами, наваристый «кальбитхан» с говяжьими ребрышками и жгучая уха «мэунтхан».

        section.hotel-details.hotel-details--korea
          h2 Отели и&nbsp;сфера гостеприимства
          .hotel-details__image
            picture
              img(src="img/content/korea-detailsHotels@1x.jpg", srcset="img/content/korea-detailsHotels@1x.jpg 2x" width="868" height="350" alt="Фото отеля в Корее")
          p Национальное агентство присваивает корейским гостиницам 5 классов: от суперлюкса до третьего. Различия в плане комфортабельности номеров и уровня обслуживания между заведениями одного класса — минимальны. Есть еще кондоминиумы — небольшие бизнес-отели с маленькой территорией, одним баром и рестораном; питание, как правило, в стоимость не включено.
          p В стране хорошо развита сеть молодежных общежитий — аналогов европейских хостелов. В архитектурных заповедниках открыты традиционные гостевые дома «ханок», интерьер которых целиком выполнен по образцу старинных корейских домов.
