extends ../base/layout

include ../components/main-country-details
include ../components/hotel-preview
include ../components/link-details
include ../components/comment

block data
  include ../data/main-country-details
  include ../data/main-hotels
  include ../data/main-comments

block variables
  - var title = "Цветущий путь на Восток — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main.main
    .container
      .main__content
        h1 Цветущий путь на Восток.
        p.main__content-subtitle Подробности о лучших отелях и особенностях двух стран.
        section.main__countries.countries-details
          ul
            each item in mainCountryDetails
              li
                +main-country-details("countries-details", item)
        section.main__hotels.hotels
          ul
            each item in mainHotels1
              li
                +hotel-preview("hotels", item)
        section.main__comments.comments
          h2 Комментарии представителей туроператоров
          .swiper-container
            .swiper-wrapper
              each item in mainComments
                .swiper-slide
                  +comment(item)
            .swiper-pagination
        section.main__hotels.hotels
          ul
            each item in mainHotels2
              li
                +hotel-preview("hotels", item)

//- block modals
//-   +modal("modal--feedback")
//-     +modal-feedback()
//-   +modal("modal--success modal--no-scale modal--fit-content")
//-     +modal-success()
