extends ../base/layout

block data
  include ../data/placeholder

block variables
  - var title = "Цветущий путь на Восток — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    .container

//- block modals
//-   +modal("modal--feedback")
//-     +modal-feedback()
//-   +modal("modal--success modal--no-scale modal--fit-content")
//-     +modal-success()
