.article {
  position: relative;
  z-index: 10;
  width: 83%;
  margin: 0 auto 31px;

  @include viewport--sm {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.article__wrapper {
  padding-bottom: 70px;
  background-color: $color-default-white;
  border-radius: 10px;

  @include viewport--sm {
    padding-bottom: 15px;
  }
}

.article .article__image img {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}

.article__icon {
  position: absolute;
  top: -2px;
  right: -45px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: $default-transition-settings;

  &:hover {
    opacity: 0.8;
    transition: $default-transition-settings;
  }

  @include viewport--sm {
    display: none;
  }
}

.article__content-text {
  background-color: $color-default-white;
}

.article h2 {
  margin: 50px 0 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  font-family: $font-family-inter;
  color: $color-night-rider;
  text-align: center;

  @include viewport--sm {
    margin: 30px 0 5px 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
  }
}

.article.article.article--blog h2 {
  @include viewport--sm {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 40px;
  }
}

.article img {
  margin-bottom: 18px;
}

.article p {
  margin: 20px 0;

  @include viewport--sm {
    margin: 13px 0 20px 0;
  }
}

.article.article--blog p {
  @include viewport--sm {
    margin: 13px 0 19px 0;
  }
}

.article.article--blog h2 {
  @include viewport--md {
    font-weight: 600;
  }
}

.article__author {
  margin-top: -117px;
  padding: 0 110px;

  @include viewport--sm {
    margin-top: -78px;
    padding: 0 10px;
  }
}

.article__author-name {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}

.article__author-specialty {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.article__author-name,
.article__author-specialty {
  margin-bottom: 18px;
  display: block;
  font-family: $font-family-inter;
  color: $color-night-rider;
  text-align: center;

  @include viewport--md {
    margin-bottom: 6px;
  }
}

.article__author-image {
  width: 50%;
  height: 200px;
  margin: 0 auto 20px;
  object-fit: cover;

  & img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid $color-default-white;
    border-radius: 50%;
    object-fit: cover;
  }

  @include viewport--sm {
    height: auto;
  }
}
