.button {
  display: inline-block;
  min-width: 202px;
  padding: 10px;
  font-family: $font-family-inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.025em;
  word-break: break-word;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: $default-transition-settings;

  &:hover,
  &:focus {
    opacity: $hover-opacity;
  }
}
