.choose-country {
  margin: 0 10px;
  padding-left: 4px;
  text-align: center;

  @include viewport--sm {
    padding-left: 0;
  }
}

.choose-country__text {
  font-family: $font-family-inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: $color-default-white;
}

.choose-country__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @include viewport--sm {
    padding-left: 4px;
  }
}

.choose-country__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  margin-right: 50px;

  @include viewport--sm {
    margin-top: 16px;
    margin-right: 26px;
  }
}

.choose-country__list li:last-child {
  margin-right: 0;
}

.choose-country__name {
  display: block;
  font-family: $font-family-inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: $color-default-white;
}
