.comments {
  position: relative;
  padding: 24px 41px 30px;
  border-radius: 10px;
  background-color: $color-default-white;
}

.comments h2 {
  font-family: $font-family-inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: $color-night-rider;
}

.comments .swiper-wrapper {
  flex-wrap: wrap;
  width: calc(100% + 28px);
  margin-bottom: -20px;

  @include viewport--sm {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.comments .swiper-slide {
  position: static;
  width: calc(20% - 28px);
  margin-right: 28px;
  margin-bottom: 20px;

  @include viewport--sm {
    position: relative;
    width: 100%;
    margin-right: 0;
  }
}
