.countries-logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.countries-logo__image--japan {
  margin-left: 71px;

  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.countries-logo__image--korea {
  width: 300px;
  @media (max-width: 767px) {
    text-align: center;
  }

}