.country-page__content {
  position: relative;
  z-index: 10;
  padding-top: 28px;

  @include viewport--sm {
    padding-top: 0;
    margin-top: -13px;
  }
}

.country-page h1 {
  margin: 0 0 10px;
  font-family: $font-family-inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  color: $color-default-white;

  @include viewport--sm {
    text-align: left;
  }
}

.country-page__filter-cities {
  margin: 0 auto 15px;

  @include viewport--sm {
    margin-bottom: 30px;
  }
}

.country-page__countries {
  position: fixed;
  top: 78px;
  right: 20px;

  @include viewport--md {
    position: absolute;
    top: -50px;
    right: 0;
  }

  @include viewport--sm {
    position: static;
    background-color: $color-default-white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.country-page__countries svg,
.country-page__countries .preview-details__title,
.country-page__countries .preview-details__text,
.country-page__countries .link-details {
  display: none;

  @include viewport--sm {
    display: block;
  }
}

.country-page__countries svg {
  @include viewport--sm {
    display: inline-block;
  }
}

.country-page__countries img {
  width: 91px;
  min-height: 91px;

  @include viewport--sm {
    width: 159px;
    min-height: 159px;
  }
}

.country-page__hotels {
  margin-bottom: 46px;

  @include viewport--sm {
    margin-bottom: 30px;
  }
}

.country-page__pagination {
  margin-bottom: 48px;

  @include viewport--sm {
    margin-bottom: 10px;
  }
}
