.culture {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 31px;

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.culture--japan.culture {
  @media (max-width: 767px) {
    margin-bottom: 8px;
  }
}

.culture__image {
  margin-bottom: 50px;

  & img {
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    height: 273px;
    margin-bottom: 32px;
  }
}

.culture h2 {
  margin: 0 0 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 500;
  font-family: $font-family-inter;
  text-align: center;
  color: #313131;

  @media (max-width: 767px) {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 26px;
  }
}

.culture__text p {
  margin: 0 0 20px 0;
  padding: 0 120px 0 110px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  text-align: left;
  color: #313131;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 70px 0 60px;
  }

  @media (max-width: 767px) {
    font-size: 15px;
    line-height: 19px;
    padding: 0 20px;
  }
}

.culture--japan .culture__text p {
  padding: 0 110px;

  @media (max-width: 767px) {
    padding: 0 20px;
    margin: 0 0 19px 0;
  }
}
