.footer {
  background-color: #d5d0cc;
}

.footer__wrapper {
  display: flex;
  padding-top: 90px;
  padding-bottom: 98px;
  border-top: 1px solid #beb8b4;

  @media(max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.footer__travel-link,
.footer__countries-copyright {
  display: flex;
  align-items: center;
  max-width: 400px;
}

.footer__countries {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media(max-width: 767px) {
    margin-right: auto;
    width: 100%;
  }
}

.footer__countries-wrapper {
  display: flex;
  margin-bottom: 15px;

  @media(max-width: 767px) {
    justify-content: space-between;
  }
}

.footer__countries-logo--japan {
  margin-left: 71px;

  @media(max-width: 767px) {
    margin-left: auto;
  }
}

.footer__travel-logo {
  margin-bottom: 15px;
}

.footer__travel-link span,
.footer__countries-copyright span {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: #6f6f6f;
}

.footer__travel-link span {
  margin-left: 4px;
}

.footer__countries-copyright span {
  margin-left: 6px;
}

.footer__travel-link {
  transition: 0.3s ease-out;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: 0.3s ease-out;
  }
}

@media(max-width: 767px) {
  .footer__travel {
    display: none;
  }

  .footer .container {
    padding: 0 38px;
  }

  .footer__countries-copyright {
    margin: 0 auto;
  }
}
