.form {
  display: flex;
  flex-direction: column;
  width: 39%;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 75px;

  @media (min-width: 768px) and (max-width: 1200px) {
    width: 65%;
  }

  @include viewport--sm {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form input {
  margin-bottom: 15px;
  height: 45px;

  &::placeholder {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-night-rider;
  }
}

.form input,
.form textarea {
  padding: 10px 15px;
  background-color: $color-whisper;
  border: none;
  border-radius: 10px;
}

.form label {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-dim-gray;
}

.form textarea {
  margin-bottom: 35px;
  resize: none;

  @include viewport--sm {
    margin-bottom: 32px;
  }
}

.form textarea::placeholder {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-night-rider;
}

.form__button.button {
  margin: 53px auto 0;
  background-color: $color-cerulean-blue;

  @include viewport--sm {
    margin-top: 47px;
  }
}

.form label[for="accept"] {
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  display: block;

  @include viewport--sm {
    padding-left: 40px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -3px;
    width: 21px;
    height: 21px;
    background-color: $color-transparent;
    border: 1px solid $color-dim-gray;
    border-radius: 50%;

    @include viewport--sm {
      top: 0;
      left: 7px;
    }
    }
}

.form input:checked + label::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: $color-dim-gray;
  border-radius: 50%;

  @include viewport--sm {
    top: 3px;
    left: 10px;
  }
}

.form input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px $color-whisper;

  -webkit-text-fill-color: $color-default-black;
}
