.header {
  display: flex;
  align-items: center;
  z-index: 2;
  width: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 50px;

    @include viewport--md {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include viewport--sm {
      flex-direction: column;
      padding: 33px 0 29px;
    }
  }
}

.header__background {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-east-side;
}

.header__background img {
  width: 100%;
  object-fit: cover;
}

.header__logo {
  position: fixed;
  left: 50px;
  display: block;
  margin-top: 6px;

  @include viewport--sm {
    position: static;
    margin: 0 auto;
  }
}

.header__nav {
  margin: 0 10px;
}

.header__switcher {
  position: fixed;
  right: 50px;
}

.header--mobile {
  position: fixed;
  z-index: 20;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.header--mobile .header__wrapper {
  @include viewport--sm {
    padding: 56px 0 29px;
  }
}

.header--mobile .header__background {
  display: block;
}

.header--mobile .header__logo {
  @include viewport--sm {
    margin-bottom: 14px;
  }
}
