.header {
  display: flex;
  align-items: center;

  background-color: #7772c9;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 50px;

    @include viewport--md {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include viewport--sm {
      flex-direction: column;
      padding: 33px 0 29px;
    }
  }
}

.header__logo {
  display: block;
  margin-right: 10px;

  @include viewport--sm {
    margin: 0 auto 14px;
  }
}

.header__nav {
  margin: 0 10px;
}

.header__switcher {
  margin-left: 10px;
}

.header--mobile {
  position: fixed;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.header--mobile .header__wrapper {
  @include viewport--sm {
    padding: 56px 0 29px;
  }
}
