.hotel-card {
  position: relative;
  z-index: 10;
  width: 83%;
  margin: 0 auto 31px;
  padding-bottom: 0;
  border-radius: 10px;

  @include viewport--sm {
    width: 100%;
    overflow: hidden;
    margin-bottom: 31px;
  }
}

.hotel-card__wrapper {
  padding-bottom: 33px;
  background-color: $color-default-white;
  border-radius: 0 0 10px 10px;

  @include viewport--sm {
    padding-bottom: 15px;
  }
}

.hotel-card__icon {
  position: absolute;
  top: -2px;
  right: -45px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: $default-transition-settings;

  &:hover {
    opacity: 0.8;
    transition: $default-transition-settings;
  }

  @include viewport--sm {
    display: none;
  }
}

.hotel-card__button {
  display: none;
  margin-left: auto;
  padding: 0;
  margin-top: -5px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  font-family: $font-family-inter;
  color: $color-cerulean-blue;
  background-color: $color-transparent;
  border: none;

  & span {
    margin-right: 5px;
  }

  @include viewport--sm {
    display: block;

    &.hidden {
      display: none;
    }
  }
}

.hotel-card__image img {
  border-radius: 10px 10px 0 0;
}

.hotel-card__image {
  @include viewport--sm {
    display: none;
  }
}

.hotel-card__description {
  position: relative;
  padding: 0 108px;

  @include viewport--sm {
    padding: 0 20px;
  }
}

.hotel-card__text-wrapper.show {
  @include viewport--sm {
    display: block;
  }
}

.hotel-card__text-wrapper {
  @include viewport--sm {
    display: none;
  }
}

.hotel-card__gallery {
  @include viewport--sm {
    display: none;
  }
}

.hotel-card__gallery ul {
  display: flex;
  margin: 0 auto 35px;
  padding: 20px 110px;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.hotel-card__gallery li {
  width: 25%;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.hotel-card__gallery a {
  position: relative;
  padding-top: 68%;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

.hotel-card__gallery a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.hotel-card__gallery li:last-child {
  position: relative;
  overflow-y: hidden;
}

.hotel-card__gallery-link {
  display: block;

  @include viewport--sm {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  & div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-default-white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;

    @media (min-width: 768px) and (max-width: 1440px) {
      font-size: 7px;
    }

    @include viewport--sm {
      display: none;
    }
  }
}

.hotel-card__gallery-link span {
  display: block;
  margin: 0 auto;
}

.hotel-card__slider {
  display: none;

  @include viewport--sm {
    display: block;
  }
}

.hotel-card__logo {
  display: block;
  width: 132px;
  margin: 30px auto;

  @include viewport--sm {
    margin-top: 76px;
  }
}

.hotel-card__description h2 {
  margin: 40px 0 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  font-family: $font-family-inter;
  color: $color-night-rider;
  text-align: center;

  @include viewport--sm {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 86px;
    margin-bottom: 14px;
  }
}

.hotel-card__description p {
  margin: 20px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-night-rider;

  @include viewport--sm {
    margin: 14px 0;
    font-size: 15px;
    line-height: 19px;
  }
}

.hotel-card__links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 145px;

  &::after {
    position: absolute;
    content: "";
    top: -47px;
    left: -2px;
    width: 100%;
    height: 1px;
    background-color: $color-pale-slate;

    @include viewport--sm {
      top: -32px;
    }
  }

  @include viewport--sm {
    margin-top: 61px;
    flex-direction: column;
    align-items: center;
  }
}

.hotel-card__link {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-dim-gray;

  @include viewport--sm {
    margin-bottom: 28px;
  }

  &:first-child {
    margin-right: 28px;

    @include viewport--md {
      margin-right: 0;
    }
  }

  & svg {
    width: 44px;
    margin-right: 15px;

    @include viewport--sm {
      margin-right: 4px;
    }
  }
}

.hotel-card__slider-pagination.swiper-pagination {
  position: static;

  & .swiper-pagination-bullet {
    margin: 0 5px;
    border: 1px solid #c7c7c7;
  }

  & .swiper-pagination-bullet-active {
    background-color: #c7c7c7;
  }
}

.hotel-card__slider a {
  width: 100%;
  height: 275px;;
  object-fit: cover;
}

.hotel-card__slider img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
