.hotel-card__hotel-rating {
  display: block;
  width: 95px;
  margin: 0 auto;
}

.hotel-card__subtitle {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-default-white;
  text-align: center;
}

.hotel-card__content {
  position: relative;
  z-index: 10;
  width: 83%;
  margin: 0 auto 31px;
  padding-bottom: 85px;
  background-color: $color-default-white;
  border-radius: 10px;

  @include viewport--sm {
    width: 100%;
    padding-bottom: 15px;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.hotel-card__image img {
  border-radius: 10px 10px 0 0;
}

.hotel-card__description {
  padding: 0 100px;
}

.hotel-card__gallery ul {
  margin: 30px auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.hotel-card__gallery li {
  margin-right: 10px;
}

.hotel-card__gallery li:last-child {
  position: relative;
  margin-right: 0;
  overflow-y: hidden;
}

.hotel-card__gallery-link {
  display: block;

  & span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 25%;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-default-white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
}

.hotel-card__logo {
  display: block;
  width: 150px;
  margin: 30px auto;
}

.hotel-card__description h2 {
  margin: 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  font-family: $font-family-inter;
  color: $color-night-rider;
  text-align: center;
}

.hotel-card__description p {
  margin: 20px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-night-rider;
}

.hotel-card__links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;

  &::after {
    position: absolute;
    content: "";
    top: -50px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-pale-slate;
  }
}

.hotel-card__link {
  display: flex;
  align-items: center;

  & span {
    margin-left: 15px;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-dim-gray;
  }

  &:first-child {
    margin-right: 15px;
  }
}
