.hotel-rating {
  text-align: center;
}

.hotel-title__hotel-rating {
  margin: 0 auto;
  width: 95px;
  transform: scale(1.2);
}

.hotel-title__hotel-rating svg {
  fill: $color-default-white;
}

.hotel-rating--4 svg:last-child {
  display: none;
}

.hotel-rating--3 svg:nth-last-child(-n+2) {
  display: none;
}

.hotel-rating--2 svg:not(:nth-child(-n+2)) {
  display: none;
}

.hotel-rating--1 svg:not(:first-child) {
  display: none;
}
