.hotel-card__hotel-rating {
  display: block;
  width: 95px;
  margin: 0 auto;
  transform: scale(1.2);
}

.hotel-card__subtitle {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-default-white;
  text-align: center;
}

.hotel-card__content {
  position: relative;
  z-index: 10;
  width: 83%;
  margin: 0 auto 31px;
  padding-bottom: 35px;
  background-color: $color-default-white;
  border-radius: 10px;

  @include viewport--sm {
    width: 100%;
    padding-bottom: 15px;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.hotel-card__button {
  display: none;

  @include viewport--sm {
    display: block;
  }
}

.hotel-card__image img {
  border-radius: 10px 10px 0 0;
}

.hotel-card__description {
  position: relative;
  padding: 0 108px;

  @include viewport--sm {
    padding: 0 20px;
  }
}

.hotel-card__text-more--show {
  @include viewport--sm {
    display: block;
  }
}

.hotel-card__text-more--hidden {
  @include viewport--sm {
    display: none;
  }
}

.hotel-card__gallery {
  @include viewport--sm {
    display: none;
  }
}

.hotel-card__gallery ul {
  margin: 22px auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
}

.hotel-card__gallery li {
  margin-right: 19px;
}

.hotel-card__gallery li:last-child {
  position: relative;
  margin-right: 0;
  overflow-y: hidden;
}

.hotel-card__gallery-link {
  display: block;

  & span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 28%;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-default-white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
}

.hotel-card__logo {
  display: block;
  width: 132px;
  margin: 54px auto 40px auto;
}

.hotel-card__description h2 {
  margin: 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  font-family: $font-family-inter;
  color: $color-night-rider;
  text-align: center;
}

.hotel-card__description p {
  margin: 20px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  color: $color-night-rider;
}

.hotel-card__links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 145px;

  &::after {
    position: absolute;
    content: "";
    top: -47px;
    left: -2px;
    width: 100%;
    height: 1px;
    background-color: $color-pale-slate;
  }
}

.hotel-card__link {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & span {
    margin-left: 10px;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-dim-gray;
  }

  &:first-child {
    margin-right: 28px;
  }

  & svg {
    width: 44px;
  }
}

.hotel-card__link:last-child span {
  margin-left: 2px;
}
