.inner-hotels {
  margin-top: 20px;

  &--blog {
    @include viewport--sm {
      margin-top: 0;
    }
  }
}

.inner-hotels__button {
  display: block;
  margin: 50px auto 0;

  @include viewport--md {
    margin-top: 30px;
  }
}

.inner-hotels h2 {
  margin: 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  font-family: $font-family-inter;
  color: $color-dim-gray;
  text-align: center;

  @include viewport--sm {
    margin: 18px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }
}
