.link-details {
  display: block;
  font-family: $font-family-inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  color: $color-cerulean-blue;
  text-align: right;

  @include viewport--sm {
    text-align: center;
  }
}
