.main-nav__open-menu,
.main-nav__close-menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
}

.main-nav__open-menu {
  @include viewport--md {
    display: block;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;

  @include viewport--md {
    display: none;
  }
}

.main-nav__list {
  display: none;
  list-style: none;
  margin: 10px 0 0;
  padding: 0 11px;
}

.main-nav__list li {
  border-bottom: 1px solid $color-default-white;
}

.main-nav__list li:last-child {
  border-bottom: none;
}

.main-nav__link {
  display: block;
  padding: 10px 20px 10px 0;
  font-family: $font-family-inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: $color-default-white;
}

.header--mobile .main-nav__open-menu {
  @include viewport--md {
    display: none;
  }
}

.header--mobile .main-nav__close-menu {
  @include viewport--md {
    display: block;
    top: 50px;
    left: 25px;
    transform: none;
  }
}

.header--mobile .main-nav__wrapper,
.header--mobile .main-nav__list {
  @include viewport--md {
    display: block;
  }
}
