.pagination {
  text-align: center;
}

.pagination__button {
  margin-bottom: 40px;
}

.pagination__numbers {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include viewport--sm {
    display: none;
  }
}

.pagination__number {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  padding: 5px;
  font-family: $font-family-inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  color: $color-cerulean-blue;
  cursor: pointer;
  transition: $default-transition-settings;

  &:hover,
  &:focus {
    opacity: $hover-opacity;
  }
}

.pagination__number--active .pagination__link {
  color: $color-dim-gray;
  cursor: default;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
