.participant-form {
  width: 83%;
  margin: 0 auto;

  @include viewport--sm {
    width: 100%;
  }
}

.participant-form h2 {
  text-align: left;
}

.participant-form__wrapper {
  background-color: $color-default-white;
  border-radius: 10px;
}
