.participant-form {
  width: 83%;
  margin: 0 auto;

  @include viewport--sm {
    width: 100%;
  }
}

.participant-form h2 {
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  font-family: $font-family-inter;
  color: $color-dim-gray;
  text-align: left;

  @include viewport--sm {
    text-align: center;
  }
}

.participant-form__wrapper {
  background-color: $color-default-white;
  border-radius: 10px;
}
