.preview-details {
  display: block;
  width: 100%;
  padding: 32px 40px 19px;
  text-align: center;
  color: $color-night-rider;

  @include viewport--md {
    padding: 25px 18px 20px;
  }
}

.preview-details img {
  min-height: 242px;
  margin: 0 auto 14px;
  border-radius: 50%;
  object-fit: cover;

  @include viewport--md {
    width: 200px;
    min-height: 200px;
    height: auto;
  }

  @include viewport--sm {
    width: 159px;
    min-height: 159px;
  }
}

.preview-details__title {
  margin: 12px 0 19px;
  font-family: $font-family-inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;

  @include viewport--sm {
    margin-top: 4px;
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 24px;
  }
}

.preview-details__text {
  max-width: 420px;
  margin: 0 auto 14px;
  font-family: $font-family-inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  @include viewport--sm {
    max-width: 550px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
  }
}

.preview-details p {
  margin: 15px 0 0;

  @include viewport--sm {
    margin-top: 7px;
  }
}
