.shopping {
display: flex;
flex-direction: column;
padding: 0 110px;
margin-bottom: 28px;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 70px;
  }

  @media (max-width: 767px) {
    padding: 0;
    margin-bottom: 9px;
  }
}

.shopping h2 {
  margin: 0 0 20px 0;
  font-size: 26px;
  line-height: 31px;
  font-weight: 500;
  font-family: $font-family-inter;
  text-align: center;
  color: #313131;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.shopping p {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-inter;
  text-align: left;
  color: #313131;

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 19px;
  }
}

.shopping__image {
  margin-bottom: 20px;

  & img {
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    height: 241px;
  }
}
