.travel-media--gray {
  @include viewport--sm  {
    display: none;
  }
}

.travel-media--white {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel-media--white .travel-media__link span {
  color: $color-default-white;
}

.travel-media__logo {
  margin-bottom: 15px;
}

.travel-media__link {
  display: flex;
  align-items: center;
  max-width: 400px;

  & span {
    margin-left: 4px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-family: $font-family-inter;
    color: $color-dim-gray;
    }
}
