.container {
  width: 100%;
  max-width: 1412px;
  margin: 0 auto;
  padding: 0 50px;

  @include viewport--md {
    padding: 0 30px;
  }

  @include viewport--sm {
    padding: 0 21px;
  }

  &--no-padding {
    padding: 0;
  }
}
