.container {
  width: 100%;
  max-width: 1692px;
  margin: 0 auto;
  padding: 0 190px;

  @include viewport--md {
    padding: 0 40px;
  }

  @include viewport--sm {
    padding: 0 21px;
  }

  &--no-padding {
    padding: 0;
  }

  &--header {
    max-width: 100%;
  }
}
