include ../components/travel-media
include ../components/countries-logo

mixin footer(footerMod)
  footer(class= (footerMod) ? "footer footer--" + footerMod : "footer")
    .container
      .footer__wrapper
        +travel-media("gray")
        .footer__countries
          +countries-logo()
          .footer__countries-copyright
            +icon("icon-official", 15, 15)
            span Project of tourism authorities


