include ../components/choose-country
include ../components/switcher
include ../components/travel-media

mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Особенности гостеприимства в Корее"
      },
      {
        href: "#",
        text: "Особенности гостеприимства в Японии"
      },
      {
        href: "#",
        text: "Отели Кореи"
      },
      {
        href: "#",
        text: "Отели Японии"
      }
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__wrapper.container.container--header
      .header__background
        +img("bg", "main-background", "jpg", "1920", "1343", "Закат на фоне гор")
      if(currentPage === "main")
        a.header__logo
          +icon("logo-header", 128, 68)
      else
        a.header__logo(href="main.html", aria-label="Переход на главную")
          +icon("logo-header", 128, 68)
      nav.header__nav.main-nav
        button.main-nav__open-menu.btn-reset(type="button", aria-label="Открыть мобильное меню", aria-pressed="false")
          +icon("icon-burger", 30, 14)
        button.main-nav__close-menu.btn-reset(type="button", aria-label="Закрыть мобильное меню", aria-pressed="false")
          +icon("icon-close", 24, 24)
        .main-nav__wrapper
          if(headerMod === "main")
            +choose-country("main-nav", "none")
          if(headerMod === "korea")
            +choose-country("main-nav", "korea")
          if(headerMod === "japan")
            +choose-country("main-nav", "japan")
          ul.main-nav__list
            each link, index in headerLinks
              if(index === currentPage)
                li
                  a.main-nav__link.main-nav__link--active=link.text
              else
                li
                  a.main-nav__link(href=link.href)=link.text
      if(headerMod === "main")
        +switcher("header", "center")
      if(headerMod === "korea")
        +switcher("header", "left")
      if(headerMod === "japan")
        +switcher("header", "right")
      +travel-media("white")
