include ../components/countries-logo
include ../components/button

mixin modal(mods)
  div(class="modal modal--preload " + mods)
    .modal__wrapper
      .modal__overlay
      .modal__content
        if(mods== "modal-success")
          +countries-logo()
          p Ваше сообщение успешно отправлено!
          +button("modal-success", "Закрыть")
          button.modal__close-btn.btn-reset(type="button", aria-label="Закрыть попап")
            +icon("icon-modal-close", 23, 23)
        if(mods== "modal-video")
          video(id="video" controls)
            source(src="video/video.mp4" type="video/mp4")
          button.modal__close-btn.btn-reset(type="button", aria-label="Закрыть попап")
            +icon("icon-modal-close", 23, 23)
