-
    var signielSeoul = {
      title: "Signiel Seoul",
      subtitle: "Корея, Сеул",
      alt: "Signiel Seoul",
      pictures: [
        {
          imageName: "hotel-card-photo-1",
          imageWidth: "202",
          imageHeight: "134"
        },
        {
          imageName: "hotel-card-photo-2",
          imageWidth: "202",
          imageHeight: "134"
        },
        {
          imageName: "hotel-card-photo-3",
          imageWidth: "202",
          imageHeight: "134"
        },
        {
          imageName: "hotel-card-photo-4",
          imageWidth: "202",
          imageHeight: "134"
        },
      ],
      logoName: "logo-hotel-signiel",
      logoWidth: 126,
      logoHeight: 17,
      descriptionTitle: "Быть над Сеулом в роскоши Signiel Seoul",
      descriptionText: ["В отеле Signiel Seoul, расположенном на 77—102 этажах в небоскребе Lotte World Tower, к услугам гостей 235 номеров с панорамным видом на Сеул. В этом 5-звездочном отеле имеется бар шампанского, ресторан, отмеченный звездой Мишлен, крытый бассейн, фитнес-центр и банкетный зал. По подземному переходу из отеля можно пройти к станции метро Jamsil (линий 2 и 8). На всей территории отеля доступен бесплатный Wi-Fi.", "В номерах в числе удобств мини-бар, холодильник, кофемашина, сейф и телевизор с плоским экраном. Пол в номерах покрыт ковролином. В распоряжении гостей собственная ванная комната с феном, бесплатными туалетно-косметическими принадлежностями, тапочками и электронным унитазом-биде.", "На 87 этаже здания работает спа-центр Evian с сауной. Сотрудники отеля Signiel Seoul помогут гостям воспользоваться камерой хранения багажа, услугами парковщика и услугами консьержа. За дополнительную плату предоставляется пресс для брюк, услуги химчистки, услуги прачечной и гладильные услуги.", "В ресторане BICENA, отмеченном 1 звездой Мишлен, на обед и ужин подают блюда корейской кухни. В ресторане STAY, который принадлежит удостоенному 3 звезд Мишлен шеф-повару Яннику Аллено, гости могут отведать изысканные французские блюда.", "Отель Signiel Seoul находится в 7 км от железнодорожного вокзала Каннамгу и менее чем в 20 минутах езды от торгового центра COEX Mall. Поездка до аэропорта Кимпхо занимает 45 минут, а до международного аэропорта Инчхон — менее 70 минут. "]
   }
