-
   var lotteHotelSeul = {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "main/hotel-lotte-1-desktop",
          mobileName: "main/hotel-lotte-1-mobile",
          alt: "Серое здание"
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб"
        },
      ],
      name: "Lotte Hotel Seoul",
      city: "Сеул",
      description: "Этот роскошный отель соединен со станцией метро Euljiro 1-ga (линия 2) и универмагом Lotte. К услугам гостей 10 ресторанов и баров, а также номера с ЖК-телевизором. На территории отеля работают фитнес-центр и спа-центр.",
      stars: 5
   }

-
   var hotelOkuraCobe = {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "details/hotel-okura-1-desktop",
          mobileName: "details/hotel-okura-1-mobile",
          alt: "Серое здание на набережной"
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб"
        },
      ],
      name: "Hotel Okura Cobe",
      city: "Кобе",
      description: "Отель Okura Kobe расположен на набережной, в 500 метрах от торгового района Мотомачи. К услугам гостей 6 ресторанов и номера с бесплатным Wi-Fi, оформленные в западном стиле.",
      stars: 5
   }

-
  var peninsulaTokio = {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "main/hotel-peninsula-1-desktop",
          mobileName: "main/hotel-peninsula-1-mobile",
          alt: "Пара в белых одеждах на фоне золотой стены"
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб"
        },
      ],
      name: "The Peninsula Tokyo",
      city: "Токио",
      description: "Превосходный отель Grand Hyatt Tokyo с роскошным дизайном интерьера и бизнес-центром расположен в центре Токио в здании многофункционального комплекса Roppongi Hills с магазинами, ресторанами, кинотеатром, художественным музеем и обсерваторией. Пешая прогулка до железнодорожного вокзала Роппонги занимает всего…",
      stars: 5
    }


-
  var continentalSeoul = {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "main/hotel-continental-1-desktop",
          mobileName: "main/hotel-continental-1-mobile",
          alt: "Стеклянный небоскреб"
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб"
        },
      ],
      name: "InterContinental Seoul COEX",
      city: "Сеул",
      description: "Роскошный 5-звездочный отель InterContinental Seoul Coex расположен в сеульском Всемирном торговом центре, в 350 метрах от Центра выставок и конгрессов COEX. К услугам гостей 5 ресторанов и баров, фитнес-центр, бесплатная парковка и номера с бесплатным Wi-Fi.",
      stars: 5
    }
-
  var signielSeoul = {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "main/hotel-signiel-1-desktop",
          mobileName: "main/hotel-signiel-1-mobile",
          alt: "Стеклянный небоскреб"
        },
        {
          desktopName: "main/hotel-signiel-2-desktop",
          mobileName: "main/hotel-signiel-2-mobile",
          alt: "Темно-красное лобби"
        },
      ],
      name: "Signiel Seoul",
      city: "Сеул",
      description: "В отеле Signiel Seoul, расположенном на 77–102 этажах в небоскребе Lotte World Tower, к услугам гостей 235 номеров с панорамным видом на Сеул. В этом 5-звездочном отеле имеется бар шампанского, ресторан, отмеченный звездой Мишлен, крытый бассейн, фитнес-центр и банкетный зал. По подземному переходу из отеля можно пройти к станции метро…",
      stars: 5
    }
