-
  var japanHotels1 = [
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/grand-hyatt-1-desktop",
          mobileName: "japan/grand-hyatt-1-mobile",
          alt: "Темно-красное лобби"
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Grand Hyatt Tokyo",
      city: "Токио",
      description: "Превосходный отель Grand Hyatt Tokyo с роскошным дизайном интерьера и бизнес-центром расположен в центре Токио в здании многофункционального комплекса Roppongi Hills с магазинами, ресторанами, кинотеатром, художественным музеем и обсерваторией. Пешая прогулка до железнодорожного вокзала Роппонги занимает всего…",
      stars: 5
    }
  ]

-
  var japanHotels2 = [
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/sheraton-1-desktop",
          mobileName: "japan/sheraton-1-mobile",
          alt: "Белое здание с зеленой территорией и бассейном"
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Sheraton Grande Tokyo Bay Hotel",
      city: "Токио",
      description: "Отель Sheraton Tokyo Bay является официальным отелем токийского Диснейленда. К услугам гостей крытый и открытый бассейны, специализированный магазин Disney, детская игровая площадка и 4 ресторана. Отель расположен в 2 минутах ходьбы от остановки монорельсового трамвая Bayside Station линии Disney Resort…",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Высокое стеклянное здание вечером"
        },
        {
          desktopName: "japan/grand-hyatt-1-desktop",
          mobileName: "japan/grand-hyatt-1-mobile",
          alt: "Темно-красное лобби",
          lazy: true
        },
      ],
      name: "ANA InterContinental Ishigaki Resort",
      city: "Исигаки",
      description: "Курортный отель ANA InterContinental Ishigaki расположен в 25 минутах езды от нового аэропорта острова Исигаки. К услугам гостей фитнес-центр, спа-салон, открытый бассейн, а также 6 ресторанов и кафе. Из окон номеров открывается вид на океан или сад.",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/shangrila-1-desktop",
          mobileName: "japan/shangrila-1-mobile",
          alt: "Женщина в кимоно на лестнице"
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Shangri-La",
      city: "Токио",
      description: "Роскошный отель Shangri-La, Tokyo удобно расположен рядом с железнодорожным вокзалом Токио, напротив Императорского дворца. К услугам гостей 20-метровый крытый бассейн с подогревом, спа-центр, рестораны и лобби-лаундж.",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/peninsula-1-desktop",
          mobileName: "japan/peninsula-1-mobile",
          alt: "Пара в белых одеждах на фоне золотой стены",
          lazy: true
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "The Peninsula Tokyo",
      city: "Токио",
      description: "К услугам гостей отеля The Peninsula Tokyo спа-центр и фитнес-клуб с плавательным бассейном и шезлонгами. Из окон открывается вид на сады Императорского дворца. Торговый район Гиндза находится в 3 минутах ходьбы. Гости могут воспользоваться услугами консьержа. До железнодорожного вокзала Токио можно добраться на автомобиле за 5 …",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/inter-continental-1-desktop",
          mobileName: "japan/inter-continental-1-mobile",
          alt: "Колесо обозрения и здание в виде паруса",
          lazy: true
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "InterContinental Yokohama Grand",
      city: "Иокогама",
      description: "Отель Intercontinental с видом на Иокогамский залив, китайским рестораном на 32 этаже и спа-центром с массажным кабинетом. Из номеров открывается вид на город или бухту. В отеле можно воспользоваться бесплатным Wi-Fi.",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/granvia-1-desktop",
          mobileName: "japan/granvia-1-mobile",
          alt: "Здание с полукруглой стеклянной галлереей",
          lazy: true
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Hotel Granvia Kyoto",
      city: "Киото",
      description: "Отель Granvia Kyoto находится на территории железнодорожного вокзала Киото. К услугам гостей крытый бассейн, фитнес-центр и 9 ресторанов. Просторные номера шикарно оформлены и оснащены современными удобствами. Во всех зонах доступен бесплатный Wi-Fi.",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/miyako-1-desktop",
          mobileName: "japan/miyako-1-mobile",
          alt: "Стеклянное здание с зеленью на части стен",
          lazy: true
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Miyako Hotel Hakata",
      city: "Фукуока",
      description: "Open from September 2019, only 150 metres from JR Hakata Train Station, Miyako Hotel Hakata offers stylish rooms with a flat-screen TV and a private bathroom. Free WiFi is available throughout the property. The famous Nanzoin Temple is a 30-minute train ride away.",
      stars: 5
    },
    {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/monterey-1-desktop",
          mobileName: "japan/monterey-1-mobile",
          alt: "Белое полукруглое здание возле бассейна с шезлонгами",
          lazy: true
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Hotel Monterey Okinawa Spa & Resort",
      city: "Окинава",
      description: "К услугам гостей курортного спа-отеля Monterey Okinawa с прямым выходом на пляж Тайгер роскошные комфортабельные номера с видом на море, 2 бассейна и различные удобства. Гости могут полюбоваться прекрасным закатом в саду, пройти сеанс успокаивающего массажа, отдохнуть в гидромассажной ванне и посетить любой из 7 ресторанов, …",
      stars: 5
    },
      {
      japan: "true",
      href: "#",
      pictures: [
        {
          desktopName: "japan/okura-1-desktop",
          mobileName: "japan/okura-1-mobile",
          alt: "Здания необычных форм",
          lazy: true
        },
        {
          desktopName: "japan/ana-1-desktop",
          mobileName: "japan/ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
      ],
      name: "Hotel Okura Cobe",
      city: "Кобе",
      description: "Отель Okura Kobe расположен на набережной, в 500 метрах от торгового района Мотомачи. К услугам гостей 6 ресторанов и номера с бесплатным Wi-Fi, оформленные в западном стиле.",
      stars: 5
    }
  ]

