-
  var koreaHotels1 = [
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/signiel-1-desktop",
          mobileName: "korea/signiel-1-mobile",
          alt: "Стеклянный небоскреб"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Signiel Seoul",
      city: "Сеул",
      description: "В отеле Signiel Seoul, расположенном на 77–102 этажах в небоскребе Lotte World Tower, к услугам гостей 235 номеров с панорамным видом на Сеул. В этом 5-звездочном отеле имеется бар шампанского, ресторан, отмеченный звездой Мишлен, крытый бассейн, фитнес-центр и банкетный зал. По подземному переходу из отеля можно пройти к станции метро…",
      stars: 5
    }
  ]

-
  var koreaHotels2 = [
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/lotte-1-desktop",
          mobileName: "korea/lotte-1-mobile",
          alt: "Высокое стеклянное здание вечером"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Lotte Hotel Seoul",
      city: "Сеул",
      description: "Этот роскошный отель соединен со станцией метро Euljiro 1-ga (линия 2) и универмагом Lotte. К услугам гостей 10 ресторанов и баров, а также номера с ЖК-телевизором. На территории отеля работают фитнес-центр и спа-центр.",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/westin-1-desktop",
          mobileName: "korea/westin-1-mobile",
          alt: "Изогнутое полукругом здание бежевого цвета"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "The Westin Josun Seoul",
      city: "Сеул",
      description: "Отель Westin Chosun Seoul находится в 5 минутах ходьбы от популярного торгового квартала Мендон и в 350 метрах от станции метро City Hall. Гости этого роскошного 5-звездочного отеля, расположенного непосредственно за универмагом Lotte в районе Согондон, могут посещать крытый бассейн и спа-салон, а также пользоваться бесплатнo…",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/andaz-1-desktop",
          mobileName: "korea/andaz-1-mobile",
          alt: "Стеклянное здание"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Andaz Seoul Gangnam",
      city: "Сеул",
      description: "Отель Andaz Seoul Gangnam расположен в Сеуле. К услугам гостей ресторан, фитнес-центр, бар и общий лаундж. Стойка регистрации этого 5-звездочного отеля работает круглосуточно. Гостям предоставляется бесплатный Wi-Fi, а также услуга доставки еды и напитков в номер. На территории обустроена частная парковка.",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампам"
        },
        {
          desktopName: "korea/banyan-tree-1-desktop",
          mobileName: "korea/banyan-tree-1-mobile",
          alt: "Высокое стеклянное здание в заснеженных горах"
        },
      ],
      name: "InterContinental Seoul COEX",
      city: "Сеул",
      description: "Роскошный 5-звездочный отель InterContinental Seoul Coex расположен в сеульском Всемирном торговом центре, в 350 метрах от Центра выставок и конгрессов COEX. К услугам гостей 5 ресторанов и баров, фитнес-центр, бесплатная парковка и номера с бесплатным Wi-Fi.",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/grand-hyatt-seoul-1-desktop",
          mobileName: "korea/grand-hyatt-seoul-1-mobile",
          alt: "Изогнутое стеклянное здание"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Grand Hyatt Seoul",
      city: "Сеул",
      description: "К услугам гостей отеля Grand Hyatt Seoul — собственная торговая галерея, ледовый каток и бассейны. Отель находится на берегу реки Хан, рядом с горой Намсан. Этот 5-звездочный отель расположен всего в 10 минутах езды от железнодорожного вокзала Сеула и знаменитого торгового района Мендон.",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/jw-marriott-hotel-1-desktop",
          mobileName: "korea/jw-marriott-hotel-1-mobile",
          alt: "Стеклянное здание на фоне плотной застройки"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "JW Marriott Hotel Seoul",
      city: "Сеул",
      description: "Отель JW Marriott Seoul расположен в центре города в районе Каннамгу, над универмагом Shinsegae, магазином беспошлинной торговли Shinsegae, автобусным вокзалом Сеула и станцией метро (линии 3, 7 и 9). К услугам гостей 7 ресторанов, крытый бассейн и круглосуточная доставка еды и напитков в номер. По выходным и праздничным дням для гостей…",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/four-seasons-1-desktop",
          mobileName: "korea/four-seasons-1-mobile",
          alt: "Стеклянное здание ночью"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Four Seasons Hotel Seoul",
      city: "Сеул",
      description: "Отель Four Seasons Seoul с видом на город расположен в нескольких шагах от площади Кванхвамун-Плаза. К услугам гостей 5 ресторанов, фитнес-центр с современным оборудованием и традиционные корейские сауны. Роскошный пятизвездочный отель находится в 10 минутах ходьбы от королевского дворца Кенбоккун, центра сценического искусства…",
      stars: 5
    },
    {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/banyan-tree-1-desktop",
          mobileName: "korea/banyan-tree-1-mobile",
          alt: "Высокое стеклянное здание в заснеженных горах"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Banyan Tree Club & Spa Seoul",
      city: "Сеул",
      description: "Пятизвездочный отель Banyan Tree находится посреди пышной зеленой растительности. К услугам гостей просторные номера с современным интерьером и видом на живописные горы Намсан, спа-салон с полным спектром спа-услуг, закрытый и открытый бассейны и фитнес-центр.",
      stars: 5
    },
     {
      korea: "true",
      href: "#",
      pictures: [
        {
          desktopName: "korea/conrad-1-desktop",
          mobileName: "korea/conrad-1-mobile",
          alt: "Современный проезд"
        },
        {
          desktopName: "korea/continental-1-desktop",
          mobileName: "korea/continental-1-mobile",
          alt: "Лобби с большими круглыми лампами"
        },
      ],
      name: "Conrad Seoul",
      city: "Сеул",
      description: "Пятизвездочный отель Conrad Seoul расположен в центре района Йоидо. Отель признан одним из лучших отелей журналом Conde Nast Traveller и организацией World Travel Awards. К услугам гостей крытый бассейн, работающий круглый год, спа-процедуры и фитнес-центр. Из окон открывается вид на великолепную реку Хан. Открытый сад на крыше…",
      stars: 5
    },
  ]

