-
  var mainComments = [
    {
      href: "blog.html",
      name: "Диана Афанасьева",
      profession: "Представитель Туроператора",
      imgName: "commentator-afanasieva",
      imgAlt: "Девушка с русыми волосами в очках",
      text: "Путешествие по этим замечательным странам раскроет уникальный вкус Азии и даст возможность понять особенности и культурные отличия стран. Я бы рекомендовала строить маршрут с Сеула по провинциям Кореи и далее от провинций Японии завершить путешествие в Токио…"
    },
    {
      href: "blog.html",
      name: "Алла Кручинина",
      profession: "Представитель Туроператора",
      imgName: "commentator-kruchinina",
      imgAlt: "Девушка со светлыми волосами смотрит вверх",
      text: "Азия полна мудрости, и если вас тянет совершить для себя новые открытия, то Корея и Япония как нельзя лучше подойдут для этой задачи. Невероятное по увлекательности, контрасту и эмоциям путешествие, запомнится на долгий срок и наполнит вас положительной энергией. На своем опыте скажу, что познакомившись с культурами этих двух стран ближе, вы сможете…"
    },
    {
      href: "blog.html",
      name: "Вадим Федоров",
      profession: "Представитель Туроператора",
      imgName: "commentator-fedorov",
      imgAlt: "Русоволосый мужчина с бородой в белой футболке",
      text: "Путешествие по этим замечательным странам раскроет уникальный вкус Азии и даст возможность понять особенности и культурные отличия стран. Я бы рекомендовала строить маршрут с Сеула по провинциям Кореи и далее от провинций Японии завершить путешествие в Токио…"
    },
    {
      href: "blog.html",
      name: "Александр Тэн",
      profession: "Представитель Туроператора",
      imgName: "commentator-tan",
      imgAlt: "Темноволосый мужчина с бородой в строгом костюме",
      text: "Азия полна мудрости, и если вас тянет совершить для себя новые открытия, то Корея и Япония как нельзя лучше подойдут для этой задачи. Невероятное по увлекательности, контрасту и эмоциям путешествие, запомнится на долгий срок и наполнит вас положительной энергией. На своем опыте скажу, что познакомившись с культурами этих двух стран ближе, вы сможете…"
    },
    {
      href: "blog.html",
      name: "Мила Иванова",
      profession: "Представитель Туроператора",
      imgName: "commentator-ivanova",
      imgAlt: "Девушка со светлыми волосами улыбается",
      text: "Путешествие по этим замечательным странам раскроет уникальный вкус Азии и даст возможность понять особенности и культурные отличия стран. Я бы рекомендовала строить маршрут с Сеула по провинциям Кореи и далее от провинций Японии завершить путешествие в Токио…"
    }
  ]
