-
  var mainHotels1 = [
    {
      korea: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-signiel-1-desktop",
          mobileName: "main/hotel-signiel-1-mobile",
          alt: "Стеклянный небоскреб"
        },
        {
          desktopName: "main/hotel-signiel-2-desktop",
          mobileName: "main/hotel-signiel-2-mobile",
          alt: "Темно-красное лобби",
          lazy: true
        },
      ],
      name: "Signiel Seoul",
      city: "Сеул",
      description: "В отеле Signiel Seoul, расположенном на 77–102 этажах в небоскребе Lotte World Tower, к услугам гостей 235 номеров с панорамным видом на Сеул. В этом 5-звездочном отеле имеется бар шампанского, ресторан, отмеченный звездой Мишлен, крытый бассейн, фитнес-центр и банкетный зал. По подземному переходу из отеля можно пройти к станции метро…",
      stars: 5
    },
    {
      japan: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-grand-hyatt-1-desktop",
          mobileName: "main/hotel-grand-hyatt-1-mobile",
          alt: "Темно-красное лобби"
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "Grand Hyatt Tokyo",
      city: "Токио",
      description: "Превосходный отель Grand Hyatt Tokyo с роскошным дизайном интерьера и бизнес-центром расположен в центре Токио в здании многофункционального комплекса Roppongi Hills с магазинами, ресторанами, кинотеатром, художественным музеем и обсерваторией. Пешая прогулка до железнодорожного вокзала Роппонги занимает всего…",
      stars: 4
    }
  ]

-
  var mainHotels2 = [
    {
      korea: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-lotte-1-desktop",
          mobileName: "main/hotel-lotte-1-mobile",
          alt: "Высокое стеклянное здание вечером",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "Lotte Hotel Seoul",
      city: "Сеул",
      description: "Этот роскошный отель соединен со станцией метро Euljiro 1-ga (линия 2) и универмагом Lotte. К услугам гостей 10 ресторанов и баров, а также номера с ЖК-телевизором. На территории отеля работают фитнес-центр и спа-центр.",
      stars: 3
    },
    {
      japan: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-sheraton-1-desktop",
          mobileName: "main/hotel-sheraton-1-mobile",
          alt: "Белое здание с зеленой территорией и бассейном",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "Sheraton Grande Tokyo Bay Hotel",
      city: "Токио",
      description: "Отель Sheraton Tokyo Bay является официальным отелем токийского Диснейленда. К услугам гостей крытый и открытый бассейны, специализированный магазин Disney, детская игровая площадка и 4 ресторана. Отель расположен в 2 минутах ходьбы от остановки монорельсового трамвая Bayside Station линии Disney Resort…",
      stars: 2
    },
    {
      korea: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-westin-1-desktop",
          mobileName: "main/hotel-westin-1-mobile",
          alt: "Изогнутое полукругом здание бежевого цвета",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "The Westin Josun Seoul",
      city: "Сеул",
      description: "Отель Westin Chosun Seoul находится в 5 минутах ходьбы от популярного торгового квартала Мендон и в 350 метрах от станции метро City Hall. Гости этого роскошного 5-звездочного отеля, расположенного непосредственно за универмагом Lotte в районе Согондон, могут посещать крытый бассейн и спа-салон, а также пользоваться бесплатнo…",
      stars: 1
    },
    {
      japan: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-ana-1-desktop",
          mobileName: "main/hotel-ana-1-mobile",
          alt: "Белое здание и залив",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "ANA InterContinental Ishigaki Resort",
      city: "Исигаки",
      description: "Курортный отель ANA InterContinental Ishigaki расположен в 25 минутах езды от нового аэропорта острова Исигаки. К услугам гостей фитнес-центр, спа-салон, открытый бассейн, а также 6 ресторанов и кафе. Из окон номеров открывается вид на океан или сад.",
      stars: 5
    },
    {
      korea: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-andaz-1-desktop",
          mobileName: "main/hotel-andaz-1-mobile",
          alt: "Стеклянное здание",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "Andaz Seoul Gangnam",
      city: "Сеул",
      description: "Отель Andaz Seoul Gangnam расположен в Сеуле. К услугам гостей ресторан, фитнес-центр, бар и общий лаундж. Стойка регистрации этого 5-звездочного отеля работает круглосуточно. Гостям предоставляется бесплатный Wi-Fi, а также услуга доставки еды и напитков в номер. На территории обустроена частная парковка.",
      stars: 5
    },
    {
      japan: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-shangrila-1-desktop",
          mobileName: "main/hotel-shangrila-1-mobile",
          alt: "Женщина в кимоно на лестнице",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "Shangri-La, Tokyo",
      city: "Токио",
      description: "Роскошный отель Shangri-La, Tokyo удобно расположен рядом с железнодорожным вокзалом Токио, напротив Императорского дворца. К услугам гостей 20-метровый крытый бассейн с подогревом, спа-центр, рестораны и лобби-лаундж.",
      stars: 5
    },
    {
      korea: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-continental-1-desktop",
          mobileName: "main/hotel-continental-1-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "InterContinental Seoul COEX",
      city: "Сеул",
      description: "Роскошный 5-звездочный отель InterContinental Seoul Coex расположен в сеульском Всемирном торговом центре, в 350 метрах от Центра выставок и конгрессов COEX. К услугам гостей 5 ресторанов и баров, фитнес-центр, бесплатная парковка и номера с бесплатным Wi-Fi.",
      stars: 5
    },
    {
      japan: "true",
      href: "hotel.html",
      pictures: [
        {
          desktopName: "main/hotel-peninsula-1-desktop",
          mobileName: "main/hotel-peninsula-1-mobile",
          alt: "Пара в белых одеждах на фоне золотой стены",
          lazy: true
        },
        {
          desktopName: "main/hotel-grand-hyatt-2-desktop",
          mobileName: "main/hotel-grand-hyatt-2-mobile",
          alt: "Стеклянный небоскреб",
          lazy: true
        },
      ],
      name: "The Peninsula Tokyo",
      city: "Токио",
      description: "Превосходный отель Grand Hyatt Tokyo с роскошным дизайном интерьера и бизнес-центром расположен в центре Токио в здании многофункционального комплекса Roppongi Hills с магазинами, ресторанами, кинотеатром, художественным музеем и обсерваторией. Пешая прогулка до железнодорожного вокзала Роппонги занимает всего…",
      stars: 5
    }
  ]
