-
  var mainCountryDetails = [
    {
      title: "Корее",
      imageDesktop: "korea-details-desktop",
      imageMobile: "korea-details-mobile",
      imageFormat: "png",
      imageWidth: "242",
      imageHeight: "242",
      imageAlt: "Храм на фоне гор",
      svgName: "korea-flag",
      svgWidth: "46",
      svgHeight: "36",
      description: [
        "В Корее не принято оставлять чаевые в ресторанах или такси. Сдачу обязательно вернут.",
        "Как правило во всех ресторанах закуски обновляют бесплатно, это уже традиция."
      ],
      href: "korea-details.html"
    },
    {
      title: "Японии",
      imageDesktop: "japan-details-desktop",
      imageMobile: "japan-details-mobile",
      imageFormat: "png",
      imageWidth: "242",
      imageHeight: "242",
      imageAlt: "Храм на фоне воды",
      svgName: "japan-flag",
      svgWidth: "30",
      svgHeight: "36",
      description: [
        "Японская кухня одна из самых захватывающих в мире, но Фугу вам предложат не везде.",
        "В буддистских храмах принято снимать обувь, но желательно не ходить босыми ногами по полу."
      ],
      href: "japan-details.html"
    }
  ]
