mixin comment(comment)
  article(class=(comment.active) ? "comment comment--active" : "comment")
    .comment__top
      +img("content/main", comment.imgName, "png", "131", "131", comment.imgAlt)
      h3.comment__title= comment.name
      span.comment__subtitle= comment.profession
    .comment__text
      p= comment.text



