mixin countries-logo()
  .countries-logo
    .countries-logo__image.countries-logo__image--korea
      +icon("logo-korea", 91, 60)
    .countries-logo__image.countries-logo__image--japan
      +icon("logo-japan", 151, 60)
