mixin hotel-rating(parent, stars, color)
  div(class = parent + "__hotel-rating hotel-rating hotel-rating--" + stars)
    +icon("star-" + color, 15, 15)
    +icon("star-" + color, 15, 15)
    +icon("star-" + color, 15, 15)
    +icon("star-" + color, 15, 15)
    +icon("star-" + color, 15, 15)
