mixin switcher(parent)
  div(class = parent + "__switcher switcher")
    a.switcher__link(href="korea.html") KOR
    .switcher__toggle
      .switcher__ball.switcher__ball--center
    a.switcher__link(href="japan.html") JAP
