mixin switcher(parent, position)
  div(class = parent + "__switcher switcher")
    if (position === "left")
      a.switcher__link KOR
    else
      a.switcher__link(href="korea.html") KOR
    .switcher__toggle
      div(class = "switcher__ball switcher__ball--" + position)
      if (position === "right")
        a.switcher__link JAP
      else
        a.switcher__link(href="japan.html") JAP
