mixin travel-media(color)
  div(class = "travel-media travel-media--" + color)
    if(color == "gray")
      .travel-media__logo
        +icon("logo-travel-media-gray", 133, 58)
    if(color == "white")
      .travel-media__logo
        +icon("logo-travel-media-white", 133, 58)
    a.travel-media__link(href="mailto:shankina@tm-russia.ru", target="_blank", rel="nofollow noopener")
      if(color == "gray")
        +icon("icon-mail-gray", 20, 14)
      if(color == "white")
        +icon("icon-mail-white", 20, 14)
      span Написать в Travel Media
